header {
    text-align: center;
    padding: 10px;
    background-color: #454545;
}

.Accueil a {
    text-decoration: white;
    color: #fff;
}

main {
    text-align: center;
    padding: 20px;
    color: #fff;
}

.embed-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button {
    margin-top: 20px;
}

button {
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

button:hover {
    background-color: #555;
}

.embed-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

